@import "tailwindcss";

/* =========================================================
   Root Variables
========================================================= */

:root {
  /* ---------- Brand ---------- */

  --primary: #032563;
  --secondary: #73a6cb;
  --header: #003e39;
  --surface: #12002c;
  --neutral: #73ffb0;
  --accent: #00fff7;
  --accent-light: #40ff00;
  --accent-dark: #001644;

  /* ---------- Text ---------- */

  --text-heading: #feffff;
  --text-body: #a9b7ce;
  --text-heading-secondary: #090049;
  --text-body-secondary: #212527;

  /* ---------- Border ---------- */

  --border-muted: #37475e;

  /* ---------- Button ---------- */

  --btn: #0022ff;
  --btn-hover: #0a0041;
  --btn-text: #85ffe3;

  /* ---------- Fonts ---------- */

  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

/* =========================================================
   Tailwind Theme
========================================================= */

@theme {
  /* ---------- Colors ---------- */

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-header: var(--header);
  --color-surface: var(--surface);
  --color-neutral: var(--neutral);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-dark: var(--accent-dark);

  --color-heading: var(--text-heading);
  --color-body: var(--text-body);

  --color-heading-secondary: var(--text-heading-secondary);
  --color-body-secondary: var(--text-body-secondary);

  --color-muted: var(--border-muted);

  --color-btn: var(--btn);
  --color-btn-hover: var(--btn-hover);
  --color-btn-text: var(--btn-text);

  /* ---------- Fonts ---------- */

  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

/* =========================================================
   Global
========================================================= */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-inter);
}

/* =========================================================
   About - Technical Highlights
========================================================= */

.about-highlight {
  border-radius: 24px;
  border-bottom-right-radius: 9999px;
}
